<!DOCTYPE html>
<html>
<%- include('../partials/head',{ title : 'ADMIN | A침adir Indumentaria' }) %>

    <body>
        <%- include('../partials/header') %>

            <main class="form__main">
                <div class="form__title">
                    <h1>A침adir Indumentaria</h1>
                </div>
                <div class="form__container">
                    <form class="form__box" action="/products/addShirt" method="POST" enctype="multipart/form-data">

                        <div class="form__box__field">
                            <label class="form-label" for="title">Nombre de Producto</label>
                            <input class="form-control <%= locals.errors && (errors.title && 'is-invalid') %>"
                                type="text" id="title" name="title"
                                value="<%= locals.old && (old.title && old.title) %>">
                            <small class="ms-2 text-danger">
                                <%= locals.errors && (errors.title && errors.title.msg) %>
                            </small>
                        </div>
                        <div class="form__box__field">
                            <label class="form-label" for="artist">Artista</label>
                            <input class="form-control <%= locals.errors && (errors.artist && 'is-invalid') %>"
                                type="text" id="artist" name="artist"
                                value="<%= locals.old && (old.artist && old.artist) %>">
                            <small class="ms-2 text-danger">
                                <%= locals.errors && (errors.artist && errors.artist.msg) %>
                            </small>>
                        </div>
                        <div class="form-field-select">
                            <label class="form-label" for="size">Tama침o</label>
                            <select class="form-select <%= locals.errors && (errors.size && 'is-invalid') %>"
                                name="size" id="size">
                                <option selected hidden value="">Seleccione...</option>
                                <option value="small">small</option>
                                <option value="medium">medium</option>
                                <option value="large">large</option>
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.size && errors.size.msg) %>
                                </small>>
                            </select>
                        </div>
                        <div class="form-field-select">
                            <label class="form-label" for="sleeve">Mangas</label>
                            <select class="form-select <%= locals.errors && (errors.sleeve && 'is-invalid') %>" name="sleeve" id="sleeve">
                                <option selected hidden value="">Seleccione...</option>
                                <option value="corta">corta</option>
                                <option value="larga">larga</option>
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.sleeve && errors.sleeve.msg) %>
                                </small>>
                            </select>
                        </div>
                        <div class="form-field-select w-75">
                            <label class="form-label" for="color">Color</label>
                            <select class="form-select <%= locals.errors && (errors.color && 'is-invalid') %>" name="color" id="color">
                                <option selected hidden value="">Seleccione...</option>
                                <option value="blanco">Blanco</option>
                                <option value="negro">Negro</option>
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.color && errors.color.msg) %>
                                </small>>
                            </select>
                        </div>


                        <div class="form__box__field">
                            <label class="form-label" for="price">Precio</label>
                            <input class="form-control <%= locals.errors && (errors.price && 'is-invalid') %>" type="number" id="price" name="price"
                            value="<%= locals.old && (old.price && old.price) %>">
                            <small class="ms-2 text-danger">
                                <%= locals.errors && (errors.price && errors.price.msg) %>
                            </small>
                        </div>
                        <div class="form__box__field">
                            <label class="form-label" for="discount">Descuento</label>
                            <input class="form-control <%= locals.errors && (errors.discount && 'is-invalid') %>" type="number" id="discount" name="discount"
                            value="<%= locals.old && (old.discount && old.discount) %>">
                            <small class="ms-2 text-danger">
                                <%= locals.errors && (errors.discount && errors.discount.msg) %>
                            </small>
                        </div>
                        <div class="form__box__field w-75">
                            <label class="form-label" for="description">Descripci칩n:</label>
                            <textarea class="form-control <%= locals.errors && (errors.description && 'is-invalid') %>" id="description" name="description" rows="4"></textarea>
                            <small class="ms-2 text-danger">
                                <%= locals.errors && (errors.description && errors.description.msg) %>
                            </small>
                        </div>
                        <div class="form-field-select">
                            <small class="ms-2 text-danger">
                                <%= locals.errors && (errors.mainImage && errors.mainImage.msg) %>
                            </small>
                            <label class="btn btn-dark" for="mainImage">Imagen Principal</label>
                            <input hidden class="form-control <%= locals.errors && (errors.mainImage && 'is-invalid') %>" type="file" id="mainImage" name="mainImage">
                        </div>
                        <div class="form__button-container">
                            <button class="form__button-reset" type="reset">Limpiar los campos</button>
                            <button class="form__button-submit" type="submit">Agregar</button>
                        </div>
                    </form>

                </div>

            </main>

            <%- include('../partials/footer') %>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const addSongButton = document.getElementById("addSongButton");
            const songInput = document.getElementById("song");
            const songList = document.getElementById("songList");
            const songArray = [];

            addSongButton.addEventListener("click", function () {
                const songName = songInput.value.trim();
                if (songName !== "") {
                    songArray.push(songName);
                    const listItem = document.createElement("li");
                    listItem.textContent = songName;
                    songList.appendChild(listItem);
                    songInput.value = "";
                }
            });
            const form = document.querySelector(".form__box");
            form.addEventListener("submit", function () {
                document.getElementById("song").value = JSON.stringify(songArray);
            })
        })
    </script>

</html>