<!DOCTYPE html>
<html lang="en">

<body class="home__body">

    <%- include('partials/head',{ title : 'Detalle de Artista' }) %>
        <%- include('partials/header') %>

            <section class="section__black-artistDetail">
                <h2>Esto es... <%= band.name %>
                </h2>
                <div class="col-10 p-3 text-center align-items-center">
                    <img src="/images/bands/<%= band.image %>" alt="" class="img-fluid mb-3" style="border-radius: 18px; box-shadow: 1px 5px 25px 1px whitesmoke;">
                    <h5>"<%= band.phrase %>"</h5>

                </div>
                <div class="col-10 col-md-8 mt-5">
                    <div class="row align-items-center g-5">
                        <div class="col-12 col-md-6">
                            <h6 style="text-shadow: 2px 2px 2px black;">
                                <%= band.dateFounded %> - <%= band.dateEnded ? band.dateEnded : 'Banda Vigente'%>
                            </h6>
                        </div>
                        <div class="col-12 col-md-6">
                            <h6 style="text-shadow: 2px 2px 2px black;">Conciertos realizados: <%= band.totalShows %>
                            </h6>
                        </div>
                        <!-- <div class="col-12 col-md-6">
                            <h6>Integrantes actuales</h6>
                        </div> -->
                        <div class="col-12 col-md-6">
                            <h6 style="text-shadow: 2px 2px 2px black;">Próximo concierto: <%= band.nextShows %>
                            </h6>
                        </div>
                    </div>
                    <div class="col-12 mt-5 p-5">
                        <h5 style="text-shadow: 2px 2px 2px black;">Historia de la banda:</h5>
                        <p>
                            <%= band.history %>
                        </p>
                    </div>
                </div>
            </section>
            <section class="partial-Section2">
                <div class="partial-productDisplaySection">

                    <% albums.forEach(({id,title,image,year,description,price, discount})=> { %>
                        <div class="partial-productDisplay1" id="album<%= id %>">
                            <a href="/products/albums/detail/<%= id %>"><img class="img-fluid"
                                     src="/images/albums/<%= image %>" alt=""></a>
                            <p><b>
                                    <%= title %>
                                </b></p>
                            <small>
                                <%= year %>
                            </small>
                        </div>
                                <% }) %>
                </div>
            </section>


            <section class="partial-Section1">
                <div class="partial-productDisplaySection">

                    <% merchs.forEach(({id, price,image})=> { %>
                        <div class="partial-productDisplay1">
                            <a href="/products/merchs/detail/<%= id %>"><img class="img-fluid" src="/images/merch/<%= image %>" alt=""></a>
                            <div class="fans-precio">$<%= price %></div>
                            <div class="col-10 col-md-3 mt-5"></div>
                                <% types.forEach(type => { %>
                                    <% if (id === type.id) { %>
                                     <div>
                                        <h6><%= type.name %></h6>
                                     </div>
                                    <% } %>
                                    <% }) %>
                            
                        </div>
                        
                        
                        <% }) %>

                </div>
            </section>

            <!-- Pie de página -->
            <%- include('partials/footer') %>


</body>

</html>