<!DOCTYPE html>
<html lang="en">

<body class="home__body">

    <%- include('partials/head',{ title : 'ARTISTAS' }) %>
        <%- include('partials/header') %>

            <div class="home__bienvenida">
                <img class="img-fluid" src="/artistas.png" alt="">
            </div>

            <!-- <div class="row mt-4 align-items-center section-artistas">
                <div class="col-12 col-md-6 text-center">
                    <h3>¡Todos nuestros artistas!</h3>
                    <h4>Busque por nombre de banda, disco, artista y letra de canción</h4>
                    <input class="search-artists" type="text" placeholder="Buscar...">
                </div>
                <div class="col-12 col-md-6 mt-4">
                    <div class="row text-center">
                        <div class="col-6 col-md-6"><b>Género 1</b></div>
                        <div class="col-6 col-md-6"><b>Género 2</b></div>
                        <div class="col-6 col-md-6"><b>Género 3</b></div>
                        <div class="col-6 col-md-6"><b>Género 4</b></div>
                        <div class="col-6 col-md-6"><b>Género 5</b></div>
                        <div class="col-6 col-md-6"><b>Género 6</b></div>
                    </div>
                </div>
            </div>
 -->
            <section class="section__black">
                <div class="container">
                    <div class="row">

                        <% bands.forEach(band=> { %>
                            <div class="col-10 col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        <a href="/products/artists/detail/<%= band.id %>"> <img class="img-fluid" src="/images/bands/<%= band.image %>" alt=""></a>
                                       
                                    </div>
                                    <div class="card-body">
                                        <h3>
                                            <%= band.name %>
                                        </h3>
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn btn-dark" href="/products/artists/detail/<%= band.id %>">VER
                                            DETALLES</a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>

                             
                    </div>
                </div>
            </section>


</body>
<!-- Pie de página -->
<%- include('partials/footer') %>



</html>