<!DOCTYPE html>
<html lang="en">

<body class="home__body">

    <%- include('partials/head',{ title : 'ARTISTAS' }) %>
        <%- include('partials/header') %>

            <div class="home__bienvenida">
                <img class="img-fluid" src="/artistas.png" alt="">
            </div>

            <section class="section__black">
                <div class="container">
                    <div class="row">

                        <% bands.forEach(band=> { %>
                            <div class="col-10 col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        <a href="/products/artists/detail/<%= band.id %>"> <img class="img-fluid" src="/images/bands/<%= band.image %>" alt=""></a>
                                    </div>
                                    <div class="card-body">
                                        <h3>
                                            <%= band.name %>
                                        </h3>
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn btn-dark" href="/products/artists/detail/<%= band.id %>">VER
                                            DETALLES</a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>

                             
                    </div>
                </div>
            </section>


</body>
<!-- Pie de página -->
<%- include('partials/footer') %>



</html>