<!DOCTYPE html>
<html>

<body>
    <%- include('partials/head', { title: 'Fans' }) %>

        <%- include('partials/header') %>
            <div class="fans">
                <!-- Primera sección: BLANCO -->
                <div class="blanco">
                    <!-- Primer objeto: banner -->
                    <div class="home__bienvenida">
                        <h5 class="partial-textoPresentacion">PARA LOS FANS</h5>
                        <img class="img-fluid" src="/presentacion/presentacion-paraFans.png" alt="">
                    </div>
                  <!--   <div class="fans-banner">
                       
                        <img class="fans-bannerImage" src="presentacion/presentacion-paraFans.png" alt="Banner de Fans">
                    </div> -->

                    <div class="fans-test1">
                        <!-- Segundo objeto: fans-testInfo -->
                        <div class="fans-testInfoBotton">
                            <div class="fans-testInfo">
                                <h2>¿Qué clase de fan eres?</h2>
                                <hr> <!-- Línea horizontal -->
                                <p>¡Tómate un tiempo para realizar este dinámico test y descubre qué tipo de fan eres en
                                    cuanto a la música! Consigue recompensas como recomendaciones, descuentos y títulos
                                    comunitarios junto a tus resultados.</p>
                            </div>
                            <div class="fans-testButton">
                                <button>¡Comenzar!</button>
                            </div>
                        </div>

                        <!-- Tercer objeto: fans-presentacionTest -->
                        <div class="fans-presentacionTest">
                            <img src="presentacion/presentacion-paraFansTest.png"
                                alt="Imagen de presentación del test para fans">
                        </div>
                    </div>
                </div>

                <div class="partial-Section1">
                    <div class="partial-Section1-texto">

                        <h2>Productos populares</h2>
                        <p>
                            Esta zona está dedicada a los productos que tienen un gran número de ventas, un número que
                            aumenta en uno por cada producto individual cada vez que una compra se concreta.
                        </p>
                    </div>

                    <div class="partial-productDisplaySection">
                        <% masVendidosMerchPromise.forEach(merch=> { %>
                                <div class="partial-productDisplay1" data-productId="<%= merch.id %>"
                                    data-image="<%= merch.image %>" data-name="<%= merch.name %>"
                                    data-price="<%= merch.price %>" data-description="<%= merch.description %>"
                                    data-typeId="<%= merch.type.name %>" data-discount="<%= merch.discount %>">
                                    <img src="/images/merch/<%= merch.image %>" alt="<%= merch.name %>">
                                    <div class="fans-precio">$<%= merch.price %>
                                    </div>
                                </div>
                                    <% }); %>

                                        <div class="partial-productDisplaySection">
                                            <% masVendidosAlbums.forEach(album=> { %>
                                                <div class="partial-productDisplay2" data-albumId="<%= album.id %>"
                                                    data-image="<%= album.image %>" data-title="<%= album.title %>"
                                                    data-price="<%= album.price %>"
                                                    data-description="<%= album.description %>"
                                                    data-band="<%= album.band.name %>"
                                                    data-discography="<%= album.discography %>"
                                                    data-year="<%= album.year %>" data-discount="<%= album.discount %>">
                                                    <img src="/images/albums/<%= album.image %>"
                                                        alt="<%= album.title %>">
                                                    <div class="fans-precio">$<%= album.price %>
                                                    </div>
                                                </div>
                                                <% }); %>
                                        </div>

                    </div>
                    <div class="partial-buttonDisplay1">
                        <button>VER LISTA COMPLETA</button>
                    </div>
                </div>
            </div>

            <div class="partial-Section2">
                <div class="partial-Section1-texto">
                    <h2>Creative Souls exclusivos</h2>
                    <p>
                        ¡Los mejores productos que Creative Souls tiene para ofrecer!
                    </p>
                </div>

                <div class="partial-productDisplaySection">
                    <% exclusivoMerchPromise.forEach(merch=> { %>
                        <div class="partial-productDisplay1" data-productId="<%= merch.id %>"
                            data-image="<%= merch.image %>" data-name="<%= merch.name %>"
                            data-price="<%= merch.price %>" data-description="<%= merch.description %>"
                            data-typeId="<%= merch.type.name %>" data-discount="<%= merch.discount %>">
                            <img src="/images/merch/<%= merch.image %>" alt="<%= merch.name %>">
                            <div class="fans-precio">$<%= merch.price %>
                            </div>
                        </div>
                        <% }); %>
                </div>
                <div class="partial-productDisplaySection">
                    <% exclusivoAlbumPromise.forEach(album=> { %>
                        <div class="partial-productDisplay2" data-albumId="<%= album.id %>"
                            data-image="<%= album.image %>" data-title="<%= album.title %>"
                            data-price="<%= album.price %>" data-description="<%= album.description %>"
                            data-band="<%= album.band.name %>" data-discography="<%= album.discography %>"
                            data-year="<%= album.year %>" data-discount="<%= album.discount %>">
                            <img src="/images/albums/<%= album.image %>" alt="<%= album.title %>">
                            <div class="fans-precio">$<%= album.price %>
                            </div>
                        </div>
                        <% }); %>
                </div>

            </div>


            <div class="partial-buttonDisplay1">
                <button>VER LISTA COMPLETA</button>
            </div>
            </div>

            <!-- <div class="partial-Section3">
        Primer objeto: fans-seccionNegra-texto 
        <div class="partial-Section3-texto">
            <h2>Ofertas de la semana</h2>
            <p>
                ¡Aprovecha los descuentos de esta semana con nuestros productos de calidad!
                            </p>
        </div>

        <div class="partial-productDisplaySection">
            <%# discountMerch.forEach(Merch => { %>
                <div class="partial-productDisplay1" data-productId="<%#= Merch.id %>" data-image="<%#= Merch.image %>" data-name="<%#= Merch.name %>" data-price="<%#= Merch.price %>" data-description="<%#= Merch.description %>" data-typeId="<%#= Merch.type.name %>" data-discount="<%#= Merch.discount %>">
                        <img src="/images/merch/<%#= Merch.image %>" alt="<%#= Merch.name %>">
                        <div class="fans-precio">$<%#= Merch.price %></div>
                </div>
            <%# }); %>
            <div class="partial-productDisplaySection">
                <%# discountAlbumPromise.forEach(album => { %>
                    <div class="partial-productDisplay2" data-albumId="<%#= album.id %>" data-image="<%#= album.image %>" data-title="<%#= album.title %>" data-price="<%#= album.price %>" data-description="<%#= album.description %>" data-band="<%#= album.band.name %>" data-discography="<%#= album.discography %>" data-year="<%#= album.year %>" data-discount="<%#= album.discount %>">
                        <img src="/images/albums/<%#= album.image %>" alt="<%#= album.title %>">
                        <div class="fans-precio">$<%#= album.price %></div>
                    </div>
                <%# }); %>
            </div>
            
        </div>
        
        <div class="partial-buttonDisplay1">
            <button>VER LISTA COMPLETA</button>
        </div>
-->

            <div class="fans-seccionAmarilla">
                <!-- Objeto 1: fans-testStats -->
                <div class="fans-testStats">
                    <h2>¿Qué tipo de fan eres?</h2>
                    <img src="presentacion/presentacion-paraFans-testStats.png" alt="Test Stats">
                </div>

                <!-- Objeto 2: fans-testResults -->
                <div class="fans-testResults">
                    <h2>Nombre del tipo de fan</h2>
                    <p>Una descripción del tipo de fan, quizás un dibujo tipo portada por aquí también.</p>
                    <img src="iconos/icono-avatarTemporal.svg" alt="Avatar Temporal" width="250" height="500">
                </div>
            </div>

            <h1 class="fans-seccionAmarilla-titulo"> Basado en tus gustos</h1>

            <div class="fans-seccionAmarilla-Recomendaciones">
                <!-- Objeto 1: fans-seccionAmarilla-RecomendacionesImage -->
                <div class="fans-seccionAmarilla-RecomendacionesImage">
                    <img src="images/nirvana.png" alt="Imagen de la banda Nirvana">
                </div>

                <!-- Objeto 2: fans-seccionAmarilla-RecomendacionesInformacion -->
                <div class="fans-seccionAmarilla-RecomendacionesInformacion">
                    <h3 class="banda-titulo">Nirvana</h3>
                    <p class="banda-texto">Banda icónica del grunge de los años 90. Conocidos por su álbum "Nevermind".
                    </p>
                    <p class="banda-tag">#Grunge, [Formada en 1987]</p>
                    <button class="visitar-boton">Visitar</button>
                </div>
            </div>
            <div class="fans-seccionAmarilla-Recomendaciones">
                <!-- Objeto 1: fans-seccionAmarilla-RecomendacionesImage -->
                <div class="fans-seccionAmarilla-RecomendacionesImage">
                    <img src="images/los-piojos.png" alt="Imagen de la banda Nirvana">
                </div>

                <div class="fans-seccionAmarilla-RecomendacionesInformacion">
                    <h3 class="banda-titulo">Los piojos</h3>
                    <p class="banda-texto">Banda icónica del grunge de los años 90. Conocidos por su álbum "Nevermind".
                    </p>
                    <p class="banda-tag">#Grunge, [Formada en 1987]</p>
                    <button class="visitar-boton">Visitar</button>
                </div>
            </div>
            <div class="fans-seccionAmarilla-Recomendaciones">
                <!-- Objeto 1: fans-seccionAmarilla-RecomendacionesImage -->
                <div class="fans-seccionAmarilla-RecomendacionesImage">
                    <img src="images/the-strokes.png" alt="Imagen de la banda Nirvana">
                </div>

                <div class="fans-seccionAmarilla-RecomendacionesInformacion">
                    <h3 class="banda-titulo">The Strokes</h3>
                    <p class="banda-texto">Banda icónica del grunge de los años 90. Conocidos por su álbum "Nevermind".
                    </p>
                    <p class="banda-tag">#Grunge, [Formada en 1987]</p>
                    <button class="visitar-boton">Visitar</button>
                </div>
            </div>

            <h1 class="fans-seccionAmarilla-titulo"> Te damos un regalo por hacer el test </h1>
            <div class="partial-Section4">
                <div class="partial-productDisplaySection">
                    <!-- Primer objeto -->
                    <div class="partial-productDisplay1">
                        <img src="productos/productos-campera1.png" alt="Producto 1">
                        <div class="fans-precio">PRECIO</div>
                    </div>
                    <div class="partial-productDisplay1">
                        <img src="productos/productos-campera2.png" alt="Producto 1">
                        <div class="fans-precio">PRECIO</div>
                    </div>
                    <div class="partial-productDisplay1">
                        <img src="productos/productos-gorra.png" alt="Producto 1">
                        <div class="fans-precio">PRECIO</div>
                    </div>
                    <div class="partial-productDisplay1">
                        <img src="productos/productos-pick.png" alt="Producto 1">
                        <div class="fans-precio">PRECIO</div>
                    </div>
                    <div class="partial-productDisplay1">
                        <img src="productos/productos-remera1.png" alt="Producto 1">
                        <div class="fans-precio">PRECIO</div>
                    </div>
                    <div class="partial-productDisplay1">
                        <img src="productos/productos-remera2.png" alt="Producto 1">
                        <div class="fans-precio">PRECIO</div>
                    </div>
                    <div class="partial-productDisplay1">
                        <img src="productos/productos-stickers.png" alt="Producto 1">
                        <div class="fans-precio">PRECIO</div>
                    </div>
                    <div class="partial-productDisplay1">
                        <img src="productos/productos-taza.png" alt="Producto 1">
                        <div class="fans-precio">PRECIO</div>
                    </div>

                </div>
            </div>
            </div> -->


            <!-- Pie de página -->
            <%- include('partials/footer') %>

</body>


<div class="partial-detailMerch" id="detailMerch">
    <div class="modal-content">
        <span class="closedetailMerch" id="closeModal">&times;</span>
        <div class="grupoC">
            <div class="grupoA">
                <div class="grupo1">
                    <img id="product-image" src="" alt="">
                </div>
                <div class="grupo2">
                    <h1 id="product-name"></h1>
                    <h1 id="product-price"></h1>
                    <p class="grupoX" id="product-discount"></p>
                    <p class="grupoX" id="product-typeId"></p>
                </div>
                <div class="grupo3">
                    <p id="product-description"></p>
                </div>
            </div>
            <div class="grupoB">
                <button id="add-to-cart">Añadir al carrito</button>
                <a id="product-detail-link" href="#">Ver detalle del producto</a>
            </div>
        </div>
    </div>
</div>
<div class="partial-detailMerch" id="detailAlbum" style="display: none;">
    <div class="modal-content">
        <span class="closedetailAlbum" id="closeAlbumModal">&times;</span>
        <div class="grupoC">
            <div class="grupoA">
                <div class="grupo1">
                    <img id="album-image" src="" alt="">
                </div>
                <div class="grupo2">
                    <h1 id="album-name"></h1>
                    <h1 id="album-price"></h1>
                    <p class="album-X" id="album-discount"></p>
                    <p class="album-X" id="album-band"></p>
                    <p class="album-X" id="album-discography"></p>
                    <p class="album-X" id="album-year"></p>
                </div>
                <div class="grupo3">
                    <p id="album-description"></p>
                </div>
            </div>
            <div class="grupoB">
                <button id="add-album-to-cart">Añadir al carrito</button>
                <a id="album-detail-link" href="#">Ver detalle del álbum</a>
            </div>
        </div>
    </div>
</div>


<script>
    const albumModal = document.getElementById('detailAlbum');
    const closeAlbumModal = document.getElementById('closeAlbumModal');
    const albumImage = document.getElementById('album-image');
    const albumName = document.getElementById('album-name');
    const albumPrice = document.getElementById('album-price');
    const albumDescription = document.getElementById('album-description');
    const addAlbumToCartButton = document.getElementById('add-album-to-cart');

    const albumItems = document.querySelectorAll('.partial-productDisplay2');

    albumItems.forEach(albumItem => {
        albumItem.addEventListener('click', () => {
            const image = '/images/albums/' + albumItem.getAttribute('data-image');
            const title = albumItem.getAttribute('data-title');
            const price = albumItem.getAttribute('data-price');
            const discount = albumItem.getAttribute('data-discount');
            const description = albumItem.getAttribute('data-description');
            const band = albumItem.getAttribute('data-band');
            const discography = albumItem.getAttribute('data-discography');
            const year = albumItem.getAttribute('data-year');
            const albumId = albumItem.getAttribute('data-albumId');

            albumImage.src = image;
            albumName.textContent = title;
            albumPrice.textContent = '$' + price;
            albumDescription.textContent = description;

            const albumX = document.querySelector('.album-X');
            albumX.innerHTML = '';

            if (discount > 0) {
                const discountElement = document.createElement('p');
                discountElement.textContent = 'Descuento: ' + discount + '%';
                albumX.appendChild(discountElement);
            }

            const bandElement = document.createElement('p');
            bandElement.textContent = 'Banda: ' + band;
            albumX.appendChild(bandElement);

            const discographyElement = document.createElement('p');
            discographyElement.textContent = 'Discografía: ' + discography;
            albumX.appendChild(discographyElement);

            const yearElement = document.createElement('p');
            yearElement.textContent = 'Año: ' + year;
            albumX.appendChild(yearElement);

            const albumDetailLink = document.getElementById('album-detail-link');
            albumDetailLink.href = '/products/albums/detail/' + albumId;

            albumModal.style.display = 'block';
        });
    });

    closeAlbumModal.addEventListener('click', () => {
        modal.style.display = 'none';
    });

    document.addEventListener('click', (event) => {
        if (event.target === albumModal) {
            albumModal.style.display = 'none';
        }
    });
</script>

<script>
    const modal = document.getElementById('detailMerch');
    const closeModal = document.getElementById('closeModal');
    const productImage = document.getElementById('product-image');
    const productName = document.getElementById('product-name');
    const productPrice = document.getElementById('product-price');
    const productDescription = document.getElementById('product-description');
    const addToCartButton = document.getElementById('add-to-cart');

    const merchItems = document.querySelectorAll('.partial-productDisplay1');

    merchItems.forEach(merchItem => {
        merchItem.addEventListener('click', () => {
            const image = '/images/merch/' + merchItem.getAttribute('data-image');
            const name = merchItem.getAttribute('data-name');
            const price = merchItem.getAttribute('data-price');
            const discount = merchItem.getAttribute('data-discount');
            const description = merchItem.getAttribute('data-description');
            const typeId = merchItem.getAttribute('data-typeId');
            const productId = merchItem.getAttribute('data-productId');

            productImage.src = image;
            productName.textContent = name;
            productPrice.textContent = '$' + price;
            productDescription.textContent = description;

            const grupo2 = document.querySelector('.grupoX');
            grupo2.innerHTML = '';

            if (discount > 0) {
                const discountElement = document.createElement('p');
                discountElement.textContent = 'Descuento: ' + discount + '%';
                grupo2.appendChild(discountElement);
            }

            const typeIdElement = document.createElement('p');
            typeIdElement.textContent = 'Tipo: ' + typeId;
            grupo2.appendChild(typeIdElement);

            const productDetailLink = document.getElementById('product-detail-link');
            productDetailLink.href = '/products/merchs/detail/' + productId;
            modal.style.display = 'block';
        });
    });


    closeModal.addEventListener('click', () => {
        modal.style.display = 'none';
    });

    document.addEventListener('click', (event) => {
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    });

</script>

</html>