<!DOCTYPE html>
<html>

<body>
    <%- include('partials/head', { title: 'Grupos' }) %>
    <%- include('partials/header') %>

    <section class="group-details">
        <div class="group-info-image">
            <div class="group-image">
                <img src="grupos/grupo-1.png" alt="Grupo 1">
            </div>
            <div class="group-info">
                <img id="close-details" src="iconos/icono-cerrar.svg" alt="Cerrar">
                <h2>Clásicos inmortales</h2>
                <p>La idea es que cada grupo presente noticias diferentes... La idea es que cada grupo presente noticias diferentes...</p>
                <div class="button-container">
                    <button class="subscribe-button">Suscribirse</button>
                    <button class="view-news-button">Ver todas las noticias</button>
                </div>
            </div>
        </div>
        
        <div class="group-news">
            <% articles.forEach(article => { %>
                <div class="news-item">
                    <img src="noticias/<%= article.image %>" alt="<%= article.name %>">
                    <p class="news-date"><%= article.createdAt.toDateString() %></p>
                    <h3 class="news-title"><%= article.title %></h3>
                    <p class="news-text"><%= article.text %></p>
                </div>
            <% }); %>
        </div>
    </section>
    
    
    
    <div class="groups-background">
        <section class="group-filters">
            <ul>
                <li>Todos los grupos</li>
                <% genres.forEach(genre => { %>
                    <li><%= genre.name %></li>
                <% }); %>
            </ul>
        </section>
        <section class="group-list">
            <% groups.forEach(group => { %>
                <div class="group-item">
                    <a href="/notices/<%= group.id %>">
                        <img src="grupos/<%= group.image %>" alt="<%= group.name %>">
                    </a>
                <h2><%= group.name %></h2>
                </div>
            <% }); %>
        </section>
    </div>
    
    
    
        
          <!-- Pie de página -->
        <%- include('partials/footer') %>
    </div>
    
<!--  intento fallido de modal, no revisar <script>
        // Función para redirigir al usuario al grupo
        function redirectToGroup(url) {
            window.location.href = url;
        }
    
        // Función para manejar el clic en la imagen
        function handleImageClick(img, url) {
            if (window.innerWidth <= 768) { // Te voy a ser sincero baki, no queria hacer la mediaquerie para el modal asique directamente lo deshabilite de tablet para abajo
                redirectToGroup(url);
            } else {
                const groupDetails = document.querySelector('.group-details');
                groupDetails.classList.add('active');
            }
        }
    
        // Asignar clic a las imágenes de los grupos
        document.querySelectorAll('.group-item img').forEach((img, index) => {
            const groupURL = '/ruta-del-grupo'; // Reemplazar despues cuando el CRUD este terminado
            img.addEventListener('click', () => {
                handleImageClick(img, groupURL);
            });
        });
    
        // Asignar clic al botón de cerrar detalles
        document.getElementById('close-details').addEventListener('click', () => {
            const groupDetails = document.querySelector('.group-details');
            groupDetails.classList.remove('active');
        });
</script> -->
    
    
</body>
</html>
