<!DOCTYPE html>
<html>

<body>
    <%- include('partials/head', { title: 'Grupos' }) %>
    <%- include('partials/header') %>
  
    <div class="groups-background">
        <section class="group-filters">
<ul>
    <li id="all-genres">Todos los grupos</li>
    <% genres.forEach(genre => { %>
        <li><%= genre.name %></li>
    <% }); %>
</ul>
</section>

<section class="group-list">
    <% groups.forEach(group => { %>
        <div class="group-item" data-id="<%= group.id %>" data-name="<%= group.name %>" data-description="<%= group.description %>" data-primaryColor="<%= group.primaryColor %>" data-secondaryColor="<%= group.secondaryColor %>" data-tertiaryColor="<%= group.tertiaryColor %>" data-followers="<%= group.followers %>" data-favorites="<%= group.favorites %>">
            <img src="grupos/<%= group.image %>" alt="<%= group.name %>">
            <h2><%= group.name %></h2>
            <div class="article-list" style="display: none;">
                <% group.Articles.forEach(article => { %>
                    <div class="article-item" data-title="<%= article.title %>" data-image="<%= article.image %>">
                        <img src="noticias/<%= article.image %>" alt="<%= article.title %>">
                        <h3><%= article.title %></h3>
                    </div>
                <% }); %>
            </div>
        </div>
    <% }); %>
</section>

<div class="partial-detailGroup" id="detailGroup" style="display: none;">
    <div class="modal-content">
        <span class="closedetailGroup" id="closeGroupModal">&times;</span>
        <div class="grupoC">
            <div class="grupoA">
                <img id="group-image" src="" alt="">
            </div>
            <div class="grupoB">
                <h1 id="group-name"></h1>
                <p class="grupoX" id="group-description"></p>
                <p class="grupoX" id="group-primaryColor"></p>
                <p class="grupoX" id="group-secondaryColor"></p>
                <p class="grupoX" id="group-tertiaryColor"></p>
                <p class="grupoX" id="group-followers"></p>
                <p class="grupoX" id="group-favorites"></p>
                <div class="group-articles">
                    <div class="article-item">
                        <img class="article-image" src="" alt="">
                        <p class="article-title"></p>
                    </div>
                    <div class="article-item">
                        <img class="article-image" src="" alt="">
                        <p class="article-title"></p>
                    </div>
                </div>
                <a id="view-more-articles" href="#">Ver más articulos</a>
            </div>
        </div>
    </div>
</div>


<script>
const modal = document.getElementById('detailGroup');
const closeModal = document.getElementById('closeGroupModal');
const groupImage = document.getElementById('group-image');
const groupName = document.getElementById('group-name');
const groupDescription = document.getElementById('group-description');
const groupPrimaryColor = document.getElementById('group-primaryColor');
const groupSecondaryColor = document.getElementById('group-secondaryColor');
const groupTertiaryColor = document.getElementById('group-tertiaryColor');
const groupFollowers = document.getElementById('group-followers');
const groupFavorites = document.getElementById('group-favorites');
const groupArticles = document.querySelector('.group-articles');
const articleTitle = document.querySelector('.article-title');
const articleImage = document.querySelector('.article-image');

const groupItems = document.querySelectorAll('.group-item');

groupItems.forEach(groupItem => {
    groupItem.addEventListener('click', () => {
        const image = 'grupos/' + groupItem.getAttribute('data-image');
        const name = groupItem.getAttribute('data-name');
        const description = groupItem.getAttribute('data-description');
        const primaryColor = groupItem.getAttribute('data-primaryColor');
        const secondaryColor = groupItem.getAttribute('data-secondaryColor');
        const tertiaryColor = groupItem.getAttribute('data-tertiaryColor');
        const followers = groupItem.getAttribute('data-followers');
        const favorites = groupItem.getAttribute('data-favorites');
        const groupId = groupItem.getAttribute('data-id');

        groupName.textContent = name;
        groupDescription.textContent = description;
        groupPrimaryColor.textContent = primaryColor;
        groupSecondaryColor.textContent = secondaryColor;
        groupTertiaryColor.textContent = tertiaryColor;
        groupFollowers.textContent = followers;
        groupFavorites.textContent = favorites;
        groupImage.src = image;

        const articlesList = groupItem.querySelector('.article-list');
        const firstArticle = articlesList.querySelector('.article-item');
        const articleTitleValue = firstArticle.getAttribute('data-title');
        const articleImageValue = firstArticle.getAttribute('data-image');

        articleTitle.textContent = articleTitleValue;
        articleImage.src = 'noticias/' + articleImageValue;

        const groupDetailLink = document.getElementById('view-more-articles');
        groupDetailLink.href = '/notices/' + groupId; 

        groupArticles.innerHTML = articlesList.innerHTML;

        modal.style.display = 'block';
    });
});

closeModal.addEventListener('click', () => {
    modal.style.display = 'none';
});

document.addEventListener('click', (event) => {
    if (event.target === modal) {
        modal.style.display = 'none';
    }
});

</script>





    
        
          <!-- Pie de página -->
        <%- include('partials/footer') %>
    </div>

    
    
</body>
</html>
