<!DOCTYPE html>
<html>
<%- include('partials/head',{ title : 'HOME' }) %>

    <body class="home__body">
        <%- include('partials/header') %>

            <div class="home__bienvenida">
                <img class="img-fluid" src="/img-bienvenida.png" alt="">
            </div>



            <div class="row contenedor__presentaciones">
                <div class="col-6 presentacion__caja1">
                    <a href=""><img class="img-fluid" src="/presentacion/presentacion-capsulaTiempo.png" alt=""></a>
                    <a href=""><img class="img-fluid" src="/presentacion/presentacion-noticias.png" alt=""></a>
                    <a href=""><img class="img-fluid" src="/presentacion/presentacion-paraFans.png" alt=""></a>
                    <a href=""><img class="img-fluid" src="/presentacion/presentacion-radio.png" alt=""></a>






                </div>
                <div class="col-6 presentacion__caja2">
                    <a href=""><img class="img-fluid" src="/presentacion/presentacion-artistas.png" alt=""></a>

                </div>
            </div>

            <section class="col-12 col-md-4 section__black-index">
                <h2 class="mt-3">Iconos del rock</h2>
                <p>Encuentra a los artistas que marcaron la historia</p>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">

                        <% bands.forEach(({id,mainImage,categoryId})=> { %>
                            <% if (categoryId===1) { %>
                                <div class="swiper-slide">
                                    <div class="card-index-black">
                                        <a href="/products/artists/detail/<%= id %>"><img class="img-fluid"
                                                src="/images/bands/<%= mainImage %>" alt="1"></a>
                                    </div>
                                </div>
                                <% } %>

                                    <% }) %>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </section>

            <section class="section__red">
                <h2 class="mt-5">Clásicos</h2>
                <p>Aquí encontrarás bandas con más de 30 años de trayectoria</p>
                <div class="swiper mySwiper m-5">
                    <div class="swiper-wrapper">
                        <% bands.forEach(({id,mainImage,categoryId})=> { %>
                            <% if (categoryId===4) { %>
                                <div class="swiper-slide"><a href="/products/artists/detail/<%= id %>"><img
                                            class="img-fluid" src="/images/bands/<%= mainImage %>" alt="1"></a></div>
                                <% } %>

                                    <% }) %>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </section>

            <section class="section__white">
                <h2 class="mb-2">Orgullo Nacional</h2>
                <p class="mb-3">En esta sección, celebramos el increíble legado musical de Argentina</p>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <% bands.forEach(({id,mainImage,categoryId})=> { %>
                            <% if (categoryId===2) { %>
                                <div class="swiper-slide"><a href="/products/artists/detail/<%= id %>"><img
                                            class="img-fluid" src="/images/bands/<%= mainImage %>" alt="1"></a></div>
                                <% } %>

                                    <% }) %>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </section>
            <section class="section__yellow pt-5">
                <h2>Indies que apoyamos</h2>
                <p>Destacamos a artistas y grupos emergentes, listos para cautivar tus oídos</p>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <% bands.forEach(({id,mainImage,categoryId})=> { %>
                            <% if (categoryId===3) { %>
                                <div class="swiper-slide"><a href="/products/artists/detail/<%= id %>"><img
                                            class="img-fluid" src="/images/bands/<%= mainImage %>" alt="1"></a></div>
                                <% } %>

                                    <% }) %>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </section>

            <!-- Pie de página -->
            <%- include('partials/footer') %>


                <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
                <script>
                    var swiper = new Swiper(".mySwiper", {
                        slidesPerView: 1,
                        spaceBetween: 3,
                        pagination: {
                            el: ".swiper-pagination",
                            clickable: true,
                        },
                        breakpoints: {
                            481: {
                                slidesPerView: 2,
                                spaceBetween: 20,
                            },
                            769: {
                                slidesPerView: 3,
                                spaceBetween: 40,
                            }
                        },
                    });
                </script>


    </body>

</html>