<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head',{ title : 'Detalle de Artista' }) %>

<body class="home__body">

        <%- include('partials/header') %>


            <section class="section__white">
                <h2 class="m-5">Aquí podrás ver toda la información del artículo <b>
                        <%= merch.name %>
                    </b></h2>
                <div class="container m-5">
                    <div class="row justify-content-center g-2 align-items-center">
                        <div class="col-8 col-md-6 mx-auto p-5">
                            <div class="card">
                                <img src="/images/merch/<%= merch.image %>" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= merch.name %>
                                    </h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><b>PRECIO:</b> us$ <%= merch.price %>
                                    </li>
                                </ul>
                                <div class="card-body text-center">
                                    <a href="" class="btn btn-dark">Añadir al carrito</a>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-8 col-md-6 text-center">
                            <h4><b>Descripción: </b></h4>
                            <p>
                                <%= merch.description %>
                            </p>
                        </div>
                        <div class="col-8 col-md-6">
                            <button class="btn btn-dark"><a class="text-white"
                                    href="/products/artists/detail/<%= merch.bandId %>"> Volver al apartado de la banda</a></button>
                        </div>
                    </div>
                </div>


            </section>





            <!-- Pie de página -->
            <%- include('partials/footer') %>


</body>

</html>