<!DOCTYPE html>
<html>
    <%- include('partials/head', { title: 'Grupos' }) %>
    <%- include('partials/header') %>

<body style="background-color: <%= group.primaryColor %>;">
    <div class="Noticias-PrimeraSeccion">

        <div class="notices-object">
            <h2 style="color: <%= group.secondaryColor %>;"><%= group.name %></h2> 
            <img src="/grupos/<%= group.image %>" alt="Imagen del grupo"> 
        </div>
        

        <div class="noticesYSuscribe">
            <div class="notices-stats">
                <p style="color: <%= group.tertiaryColor %>;">Genero: <%= group.Genre.name %></p>
                <p>Cantidad de artículos: <%= group && group.Articles ? group.Articles.length : 0 %></p>
                <p>Creado el: <%= group.createdAt.toDateString() %></p>
                <p style="color: <%= group.tertiaryColor %>;">Seguidores: <%= group.followers %></p>
                <p style="color: <%= group.tertiaryColor %>;">Favoritos: <%= group.favorites %></p>
            </div>
            
            <div class="notices-Suscribete">
                <h2>Suscríbete</h2>
                <p>Regístrate con tu correo electrónico para recibir noticias y actualizaciones</p>
                <button style="background-color: <%= group.tertiaryColor %>; color: white;">Suscribirse</button>
                <p>Respetamos tu privacidad</p>
            </div>
            
        </div>


        <div class="notices-writers">
            <h2 style="color: <%= group.secondaryColor %>;">Escritores</h2>
            <div class="writer">
                <img src="iconos/icono-avatarTemporal.svg" alt="Imagen de escritor">
                <p>Escritor 1</p>
            </div>
            <div class="writer">
                <img src="iconos/icono-avatarTemporal.svg" alt="Imagen de escritor">
                <p>Escritor 2</p>
            </div>

            <div class="writer">
                <img src="iconos/icono-avatarTemporal.svg" alt="Imagen de escritor">
                <p>Escritor 3</p>
            </div>
        </div>
    </div>

    <h5><%= group.description %></h5>
    <div class="noticias-grupo">
        <% group.Articles.forEach(article => { %>
        <div class="noticias-individual">
            <a href="/notice/<%= article.id %>">
                <img src="/noticias/<%= article.image %>" alt="Imagen de la noticia">
            </a>
            <p><%= article.createdAt.toLocaleDateString() %></p>
            <h2><%= article.title %></h2>
        </div>
        <% }); %>
    </div>

    <%- include('partials/footer') %>
</body>
</html>
