<!DOCTYPE html>
<html>
<%- include('partials/head', { title: 'Noticia' }) %>
<%- include('partials/header') %>

<body>
    <div class="notice" style="background-color: <%= article.Group.primaryColor %>;">
        <div class="notice-info" style="background-color: <%= article.Group.secondaryColor %>;">
            <p><%= article.createdAt.toLocaleDateString() %></p>
            <p><a href="/notices/<%= article.Group.id %>" style="color: <%= article.Group.tertiaryColor %>;"><%= article.Group.name %></a></p>
        </div>

        <div class="notice-title">
            <h1><%= article.title %></h1>
            <div class="notice-favoritos">
                <img src="/iconos/icono-favorito.svg" alt="Emoji">
                <p style="color: <%= article.Group.tertiaryColor %>;"><%= article.favorites %></p>
            </div>
        </div>

        <div class="notice-image">
            <a href="/notice/<%= article.id %>">
                <img src="/noticias/<%= article.image %>" alt="Imagen de la noticia">
            </a>
        </div>

        <div class="notice-text">
            <h4><%= article.subtitle %></h4>
        </div>

        <div class="notice-text">
            <p><%= article.text %></p>
        </div>

        <div class="notice-writer">
            <img src="/iconos/icono-avatarTemporal.svg" alt="Imagen del escritor" width="25" height="25">
            <p>Nombre Escritor1</p>
        </div>
        
        <div class="notice-links" style="background-color: <%= article.Group.secondaryColor %>;">
            <% const currentGroupId = article.Group.id; %>
            <% const currentArticleIndex = groupArticles.findIndex(a => a.id === article.id); %>
            
            <% if (currentArticleIndex > 0) { %>
                <% const prevArticle = groupArticles[currentArticleIndex - 1]; %>
                <h2 class="link-start"><a href="/notice/<%= prevArticle.id %>" style="color: <%= article.Group.primaryColor %>;"><%= prevArticle.title %></a></h2>
            <% } %>
            
            <% if (currentArticleIndex < groupArticles.length - 1) { %>
                <% const nextArticle = groupArticles[currentArticleIndex + 1]; %>
                <h2 class="link-end"><a href="/notice/<%= nextArticle.id %>" style="color: <%= article.Group.primaryColor %>;"><%= nextArticle.title %></a></h2>
            <% } %>
        </div>
    </div>

    <!-- Pie de página -->
    <%- include('partials/footer') %>
</body>

</html>
