<!DOCTYPE html>
<html>
  <%- include('partials/header') %>

  <%- include('partials/head', { title: 'Perfil de Usuario' }) %>
<body>
  <header>
    <h1>Perfil de Usuario</h1>
  </header>
  <div class="profile-AvatarStats">
  <!-- Contenedor de perfil -->
  <div class="profile-container">
    <!-- Primer cuadrado -->
    <div class="profile-box">
      <div class="profile-info">
        <h2><%= user.first_name %></h2>
        <div class="profile-especificaciones">
          <img src="iconos/icono-favorito.svg" alt="Favorito">
          <span><%= user.first_name %></span> 
        </div>
      </div>
    </div>

    <!-- Segundo cuadrado -->
    <div class="profile-cajasCentro">
        <div class="profile-box">
          <div class="profile-avatar">
            <img src="iconos/icono-avatarTemporal.svg" alt="Avatar" width="100" height="100">
          </div>
          <div class="profile-status">
            <div class="status-text">
              <p><%= user.state || 'Aun no has definido tu estado. Modificar' %></p>
            </div>
          </div>
        </div>
    
        <!-- Tercer cuadrado -->
        <div class="profile-box">
          <div class="profile-music">
            <img src="iconos/icono-notaMusical.svg" alt="Nota Musical">
          </div>
          <div class="profile-location">
            <span>||</span>
            <span><%= user.country || 'Pais' %></span>
            <span>||</span>
            <span><%= user.city || 'Ciudad' %></span>
          </div>
        </div>
    </div>

    <!-- Cuarto cuadrado -->
    <div class="profile-box">
      <div class="profile-description">
        <p><%= user.about || 'Aun no has escrito una descripcion personal.' %></p>
      </div>
    </div>
  </div>

  <div class="profile-stats-title"><h2>Estadísticas</h2>
  <div class="profile-stats">

    <!-- Primera estadística -->
    <div class="stat-box">
      <div class="stat-icon">
        <img src="iconos/icono-disco.svg" alt="Icono de disco">
      </div>
      <h3>Horas escuchadas</h3>
      <p><%= user.hours_listened || '0' %>h</p>
    </div>
  
    <div class="stat-box">
      <div class="stat-icon">
        <img src="iconos/icono-favorito.svg" alt="Icono de favorito">
      </div>
      <h3>Canciones guardadas</h3>
      <p><%= user.saved_songs || '0' %></p>
    </div>
  
    <div class="stat-box">
      <div class="stat-icon">
        <img src="iconos/icono-microfono.svg" alt="Icono de micrófono">
      </div>
      <h3>Comentarios hechos</h3>
      <p><%= user.comments_made || '0' %></p>
    </div>
  </div>
</div>
</div>

<a href="/users/update-profile" class="btn btn-primary">Modificar Perfil</a>


  <!-- Pie de página -->
  <%- include('partials/footer') %>
</body>
</html>
