<!DOCTYPE html>
<html>
  <%- include('partials/header') %>

  <%- include('partials/head', { title: 'Actualizar Perfil de Usuario' }) %>
<body>
  <header>
    <h1>Actualizar Perfil de Usuario</h1>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form action="/update-profile" method="post">
          <div class="form-group">
            <label for="first_name">Nombre</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="<%= user.first_name %>">
          </div>
          <div class="form-group">
            <label for="last_name">Apellido</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="<%= user.last_name %>">
          </div>
          <div class="form-group">
            <label for="nick_name">Nombre de Usuario</label>
            <input type="text" class="form-control" id="nick_name" name="nick_name" value="<%= user.nick_name %>">
          </div>
          <div class="form-group">
            <label for="state">Estado</label>
            <input type="text" class="form-control" id="state" name="state" value="<%= user.state %>">
          </div>
          <div class="form-group">
            <label for="about">Acerca de Mí</label>
            <textarea class="form-control" id="about" name="about"><%= user.about %></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Pie de página -->
  <%- include('partials/footer') %>
</body>
</html>
