<header class="header">
    <div class="header__logo">
        <a href="/"><img class="" src="/logoCreativeSouls.png" alt="LOGO"></a>
        <div class="d-flex align-items-center justify-content-start burger" id="toggle-bars">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>

    <nav class="header__navbar">
        <ul class="text-center align-items-center g-5 header__navbar__ul-1">


            <% if (locals.userLogin) { %>
                <li>
                    <h6>Bienvenido</h6>
                </li>


                <!--   <li><a href="/users/foro"><img width="30" src="/iconos/icono-microfono.svg" alt=""></a>
                <p>Foro</p></li>
                <li><a href=""><img width="30" src="/iconos/icono-notaMusical.svg" alt=""></a>
                <p>Algun lado</p></li> -->
                <li><a href="/groups"><img width="30" src="/iconos/icono-radio.svg" alt=""></a>
                    <p class="header-p">Grupos</p>
                </li>

                <% if (locals.userLogin.rolId===1) { %>
                    <li><a href="/users/admin"><img width="30" src="/iconos/icono-diamante.svg" alt=""></a>
                        <p class="header-p">Admin</p>
                    </li>

                    <% } %>
                        <li><a href="/users/logout"><img width="30" src="/iconos/icono-cerrar.svg" alt=""></a>
                            <p class="header-p">Salir</p>
                        </li>
                        <% } %>
                            <li><a href="/products/artists"><img width="30" src="/iconos/icono-guitarraElectrica.svg"
                                        alt=""></a>
                                <p class="header-p">Bandas</p>
                            </li>
                            <% if (locals.userLogin) { %>
                                <div class="Headeravatar-image">
                                    <img src="/avatar/cabeza/<%= user.head ? user.head : 'defaultCabeza.png' %>" alt="Head">
                                </div>
                                <div class="Headeravatar-image">
                                    <img src="/avatar/cara/<%= user.face ? user.face : 'defaultCara.png' %>" alt="Face">
                                </div>
                                <div class="Headeravatar-image">
                                    <img src="/avatar/sombrero/<%= user.hat ? user.hat : 'defaultGorro.png' %>" alt="Hat">
                                </div>
                                <div class="Headeravatar-image">
                                    <a href="#" id="toggle-button"> <img src="/avatar/torso/<%= user.bust ? user.bust : 'defaultTorso.png' %>"
                                            alt="Bust"> </a>
                                </div>

                                <% } else { %>
                                    <li>
                                        <a href="#" id="toggle-button"><img width="30"
                                                src="/iconos/icono-avatarTemporal.svg" alt=""></a>
                                        <p class="header-p">Usuario</p>
                                    </li>
                                    </li>

                                    <% } %>


        </ul>

    </nav>
</header>
<div class="menu-right">
    <section>
        <h6>Nombre usuario <a id="toggle-button-close" href="#"><i class="fa-regular fa-circle-xmark"></i></a></h6>
        <div class="opciones-sesion">
            <a class="btn btn-dark" href="#" id="open-login-modal-link">Iniciar Sesión</a>
            <a class="btn btn-dark" href="/users/register">Registrarme</a>
        </div>
        <div class="row menu-right-section">
            <div class="col-4 menu-right-item">
                <a href="/users/profile"><img width="45" src="/iconos/icono-avatarTemporal.svg" alt=""></a>
                <p>Perfil</p>
            </div>
            <div class="col-4 menu-right-item">
                <a href="/users/inbox"><img width="45" src="/iconos/icono-mensaje.svg" alt=""></a>
                <p>Mensajes</p>
            </div>
            <div class="col-4 menu-right-item">
                <a href="/users/config"><img width="45" src="/iconos/icono-configuracion.svg" alt=""></a>
                <p>Ajustes</p>
            </div>
            <div class="col-4 menu-right-item">
                <a href="/users/friends"><img width="45" src="/iconos/icono-amigos.svg" alt=""></a>
                <p>Amigos</p>
            </div>
            <div class="col-4 menu-right-item">
                <a href="/users/nexus"><img width="45" src="/iconos/icono-nexus.svg" alt=""></a>
                <p>Nexus</p>
            </div>
            <div class="col-4 menu-right-item">
                <a href="/api/cart"><img width="45" src="/iconos/icono-carrito.svg" alt=""></a>
                <p>Carrito</p>
            </div>

        </div>
    </section>
    <section>
        <h6>Notificaciones</h6>
    </section>
</div>

<div class="menu-left">
    <section>
        <h6>Secciones</h6> <a id="toggle-button-close2" href="#"><i class="fa-regular fa-circle-xmark"></i></a>
        <div class="row menu-left-section">
            <div class="col-4 menu-left-item">
                <a href="/fans"><img width="45" src="/iconos/icono-guitarraElectrica.svg" alt=""></a>
                <p>Para los fans</p>
            </div>
            <div class="col-4 menu-left-item">
                <a href="/products/artists"><img width="45" src="/iconos/icono-mensaje.svg" alt=""></a>
                <p>Artistas</p>
            </div>
            <div class="col-4 menu-left-item">
                <a href="/capsule"><img width="45" src="/iconos/icono-relojArena.svg" alt=""></a>
                <p>Cápsula del tiempo</p>
            </div>
        </div>
    </section>
    <section>
        <h6>Noticias</h6>
    </section>
</div>


<%- include('modalLogin') %>



    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleButton = document.getElementById("toggle-button");
            const menuright = document.querySelector(".menu-right");

            toggleButton.addEventListener("click", function (event) {
                event.preventDefault();
                menuright.classList.toggle("menu-right-visible");
            });
        });
    </script>
    <script>
          document.addEventListener("DOMContentLoaded", function () {
            const toggleButtonClose = document.getElementById("toggle-button-close");
            const menuright = document.querySelector(".menu-right");

            toggleButtonClose.addEventListener("click", function (event) {
                event.preventDefault();
                menuright.classList.toggle("menu-right-visible");
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleButton = document.getElementById("toggle-bars");
            const menuleft = document.querySelector(".menu-left");

            toggleButton.addEventListener("click", function (event) {
                event.preventDefault();
                menuleft.classList.toggle("menu-left-visible");
            });
        });
    </script>
     <script>
        document.addEventListener("DOMContentLoaded", function () {
          const toggleButtonClose2 = document.getElementById("toggle-button-close2");
          const menuleft = document.querySelector(".menu-left");

          toggleButtonClose2.addEventListener("click", function (event) {
              event.preventDefault();
              menuleft.classList.toggle("menu-left-visible");
          });
      });
  </script>
    <script>
        const openLoginModalLink = document.getElementById('open-login-modal-link');
        const loginModal = document.getElementById('login-modal');

        loginModal.style.display = 'none';

        openLoginModalLink.addEventListener('click', (event) => {
            event.preventDefault(); 
            loginModal.style.display = 'flex'; 
        });

        const closeLoginModal = () => {
            loginModal.style.display = 'none'; 
        };

        window.addEventListener('click', (event) => {
            if (event.target === loginModal) {
                closeLoginModal();
            }
        });

        document.addEventListener('keydown', (event) => {
            if (event.key === 'Escape') {
                closeLoginModal();
            }
        });


    </script>