<div class="modal fade" id="modalDetail<%= id %>" tabindex="-1" aria-labelledby="modalDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content col-10 w-75">
            <div class="modal-body">
                <div class="modal-header">
                    <h2>
                        <%= name %>
                    </h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="row">
                   
                    <div class="col-12 col-md-4">
                        <img src="/images/bands/<%= mainImage %>" class="img-fluid" alt="imagen">
                    </div>
                    <div class="col-12 col-md-8">
                      
                        <p>
                            <%= resume %>
                        </p>
                        <a class="btn btn-dark" href="/products/artists/detail/<%= id %>">Ver como visitante</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>