<div class="modal fade" id="modalMerchDetail<%= id %>" tabindex="-1" aria-labelledby="modalMerchDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content col-10 w-75">
            <div class="modal-body">
                <div class="row">
                    <div class="modal-header justify-content-center">
                        <h2>
                            <%= name %>
                        </h2>
                    </div>
                    <div class="modal-body">
                        <img src="/images/merch/<%= image %>" class="img-fluid" alt="imagen">
                    </div>
                    <div class="col-12 text-center">
                        <h3>
                            Us$ <%= price %>
                        </h3>
                        <a class="btn btn-dark" href="/products/merchs/detail/<%= id %>">Ver como visitante</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>