<%- include('head', { title: 'Fans' }) %>
<%- include('header') %>

<div class="partial-Section1">
    <div class="partial-Section1-texto">
        <h2>Productos populares</h2>
        <p>
            Esta zona está dedicada a los productos que tienen un gran número de ventas, un número que aumenta en uno por cada producto individual cada vez que una compra se concreta.
        </p>
    </div>
    <div class="partial-productDisplaySection">
        <!-- Itera sobre las bandas -->
        <% bandData.forEach(band => { %>
            <div class="partial-productDisplay2" data-image="<%= band.mainImage %>" data-name="<%= band.name %>" data-resume="<%= band.resume %>" data-year="<%= band.dateFounded %>" data-bandMainImage="<%= band.mainImage %>" data-bandImage="<%= band.image %>" data-bandDateFounded="<%= band.dateFounded %>" data-bandId="<%= band.bandId %>">
                <img src="/images/bands/<%= band.mainImage %>" alt="<%= band.bandName %>">
                <div class="fans-precio"><%= band.name %></div>
    
                <div class="informacionAlbum" style="display: none;">
                    <% band.album.forEach(album => { %>
                        <div class="albumInfo" data-title="<%= album.title %>" data-image="/images/albums/<%= album.image %>">
                            <p>Título del Álbum: <%= album.title %></p>
                        </div>
                    <% }); %>
                </div>
                
                
                
            </div>
        <% }); %>
    </div>
    
</div>


</div>

<div class="partial-detailMerch" id="detailMerch" style="display: none;">
    <div class="modal-content">
        <span class="closedetailMerch" id="closeModal">&times;</span>
        <div class="grupoC">
            <div class="grupoA">
                <div class="grupo1">
                </div>
                <div class="grupo2">
                    <h1 id="product-name"></h1>
                    <h1 id="product-price"></h1>
                    <p class="grupoX" id="product-discount"></p> 
                    <p class="grupoX" id="product-band"></p>
                    <p class="grupoX" id="product-discography"></p>
                    <p class="grupoX" id="product-year"></p>
                    
                    <!-- Agregamos los elementos para band -->
                    <p class="grupoX" id="product-bandId"></p>
                    <img id="bandMainImage" src="" alt="">
                    <img id="bandImage" src="" alt="">
                    <img id="product-image" src="" alt="">
                    <p class="grupoX" id="product-bandResume"></p>
                    <p class="grupoX" id="product-bandDate"></p>
                </div>
                <div class="grupo3">
                    <p id="product-description"></p>
                </div>
            </div>
            <div class="grupoB">
                <button id="add-to-cart">Añadir al carrito</button>
            </div>
        </div>
    </div>
</div>




<script>
const modal = document.getElementById('detailMerch');
const closeModal = document.getElementById('closeModal');
const productImage = document.getElementById('product-image');
const productName = document.getElementById('product-name');
const productPrice = document.getElementById('product-price');
const productResume = document.getElementById('product-bandResume');
const addToCartButton = document.getElementById('add-to-cart');

const bandItems = document.querySelectorAll('.partial-productDisplay2');

bandItems.forEach(bandItem => {
    bandItem.addEventListener('click', () => {
        const mainImage = '/images/bands/' + bandItem.getAttribute('data-bandMainImage');
        const bandName = bandItem.getAttribute('data-name');
        const bandResume = bandItem.getAttribute('data-resume');
        const bandImage = '/images/bands/' + bandItem.getAttribute('data-bandImage');
        const bandDateFounded = bandItem.getAttribute('data-bandDateFounded');

        productName.textContent = bandName;
        productResume.textContent = bandResume;

        const grupo2 = document.querySelector('.grupoX');
        grupo2.innerHTML = '';

        // Agrega las imágenes de la banda
        const mainImageElement = document.createElement('img');
        mainImageElement.src = mainImage;
        grupo2.appendChild(mainImageElement);

        const bandImageElement = document.createElement('img');
        bandImageElement.src = bandImage;
        grupo2.appendChild(bandImageElement);

        // Nombre de la banda y fecha de fundación
        const bandNameElement = document.createElement('p');
        bandNameElement.textContent = 'Nombre de la Banda: ' + bandName;
        grupo2.appendChild(bandNameElement);

        const bandDateFoundedElement = document.createElement('p');
        bandDateFoundedElement.textContent = 'Fecha de Fundación: ' + bandDateFounded;
        grupo2.appendChild(bandDateFoundedElement);

        // Mostrar la información de los álbumes
        const albumsElement = document.createElement('div');
        const albumItems = bandItem.querySelectorAll('.albumInfo');
        albumItems.forEach(albumItem => {
            const albumTitle = albumItem.getAttribute('data-title');
            const albumImage = albumItem.getAttribute('data-image');

            const albumInfoElement = document.createElement('p');
            albumInfoElement.textContent = 'Título del Álbum: ' + albumTitle;
            albumsElement.appendChild(albumInfoElement);

            const albumImageElement = document.createElement('img');
            albumImageElement.src = albumImage;
            albumsElement.appendChild(albumImageElement);
        });
        grupo2.appendChild(albumsElement);

        modal.style.display = 'block';
    });
});

closeModal.addEventListener('click', () => {
    modal.style.display = 'none';
});

document.addEventListener('click', (event) => {
    if (event.target === modal) {
        modal.style.display = 'none';
    }
});

    </script>
    