<!DOCTYPE html>
<html>

<%- include('../partials/head',{ title : 'ADMIN' }) %>

    <body>
        <%- include('../partials/header') %>

            <main class="container">
                <div class="row">
                    <div class="col-12 mt-4 text-start">
                        <a class="btn btn-dark" style="cursor: pointer;" href="/users/admin">Volver al panel de administración</a>
                    </div>
                    <div class="col-12 mb-4 mt-4 text-center">
                        <h3>Agrega un nuevo álbum</h3>
                    </div>
                    <div class="col-md-8 mx-auto text-center">
                        <form class="row align-items-center mb-5" style="border-radius: 7px; box-shadow: 2px 5px 10px 5px black;" id="albumForm" action="/products/albumAdd" method="POST" enctype="multipart/form-data">
                            <div class="col-md-8 mb-3 mt-3">
                                <label for="title" class="form-label">Título del Álbum</label>
                                <input type="text"
                                    class="form-control <%= locals.errors && (errors.title && 'is-invalid') %>"
                                    id="title" name="title" value="<%= locals.old && (old.title && old.title) %>">
                                <small class="ms-2 text-danger" id="msgError-title">
                                    <%= locals.errors && (errors.title && errors.title.msg) %>
                                </small>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="discography" class="form-label">Discográfica</label>
                                <input type="text"
                                    class="form-control <%= locals.errors && (errors.discography && 'is-invalid') %>"
                                    id="discography" name="discography"
                                    value="<%= locals.old && (old.discography && old.discography) %>">
                                <small class="ms-2 text-danger" id="msgError-discography">
                                    <%= locals.errors && (errors.discography && errors.discography.msg) %>
                                </small>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="year" class="form-label">Año de Publicación</label>
                                <input type="number"
                                    class="form-control <%= locals.errors && (errors.year && 'is-invalid') %>" id="year"
                                    name="year" <%=locals.old && (old.year && old.year) %>>
                                <small class="ms-2 text-danger" id="msgError-year">
                                    <%= locals.errors && (errors.year && errors.year.msg) %>
                                </small>

                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="price" class="form-label">Precio</label>
                                <input type="number" step="0.01"
                                    class="form-control <%= locals.errors && (errors.price && 'is-invalid') %>"
                                    id="price" name="price" value="<%= locals.old && (old.price && old.price) %>">
                                <small class="ms-2 text-danger" id="msgError-price">
                                    <%= locals.errors && (errors.price && errors.price.msg) %>
                                </small>

                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="discount" class="form-label">Descuento (%)</label>
                                <input type="number" step="0.01"
                                    class="form-control <%= locals.errors && (errors.discount && 'is-invalid') %>"
                                    id="discount" name="discount"
                                    value="<%= locals.old && (old.discount && old.discount) %>">
                                <small class="ms-2 text-danger" id="msgError-discount">
                                    <%= locals.errors && (errors.discount && errors.discount.msg) %>
                                </small>

                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="bandId" class="form-label">Banda</label>
                                <select class="form-select <%= locals.errors && (errors.bandId && 'is-invalid') %>"
                                    id="bandId" name="bandId">
                                    <option selected hidden value="">Seleccione...</option>
                                    <% bands.forEach(band=> { %>
                                        <option value="<%= band.id %>">
                                            <%= band.name %>
                                        </option>
                                        <% }) %>
                                </select>
                                <small class="ms-2 text-danger" id="msgError-bandId">
                                    <%= locals.errors && (errors.bandId && errors.bandId.msg) %>
                                </small>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="genreId" class="form-label">Género</label>
                                <select class="form-select <%= locals.errors && (errors.genreId && 'is-invalid') %>"
                                    id="genreId" name="genreId">
                                    <option selected hidden value="">Seleccione...</option>
                                    <% genres.forEach(genre=> { %>
                                        <option value="<%= genre.id %>">
                                            <%= genre.name %>
                                        </option>
                                        <% }) %>


                                </select>
                                <small class="ms-2 text-danger" id="msgError-genreId">
                                    <%= locals.errors && (errors.genreId && errors.genreId.msg) %>
                                </small>

                            </div>

                          

                            <div class="col-md-6 mb-3">
                                <label for="description" class="form-label">Descripción</label>
                                <textarea
                                    class="form-control <%= locals.errors && (errors.description && 'is-invalid') %>"
                                    id="description" name="description"
                                    rows="3"><%= locals.old && (old.description && old.description) %></textarea>
                                <small class="ms-2 text-danger" id="msgError-description">
                                    <%= locals.errors && (errors.description && errors.description.msg) %>
                                </small>

                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="exclusive" class="form-label">Exclusive</label>
                                <input type="checkbox" id="exclusive" name="exclusive">
                            </div>

                            <div class="mb-3">
                                <label for="image" class="btn btn-secondary">Imagen del Álbum</label>
                                <input hidden type="file"
                                    class="form-control <%= locals.errors && (errors.image && 'is-invalid') %>"
                                    id="image" name="image">
                                <small class="ms-2 text-danger" id="msgError-image">
                                    <%= locals.errors && (errors.image && errors.image.msg) %>
                                </small>

                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary" id="enviarForm">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>



            <%- include('../partials/footer') %>


<script src="/javascripts/addAlbumFrontendValidations.js"></script>
   
    </body>
</html>