<!DOCTYPE html>
<html>

<%- include('../partials/head',{ title : 'ADMIN' }) %>

    <body>
        <%- include('../partials/header') %>

            <main class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <form id="bandForm" action="/products/addBand" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombre de la Banda</label>
                                <input type="text" class="form-control <%= locals.errors && (errors.name && 'is-invalid') %>" id="name" name="name" value="<%= locals.old && (old.name && old.name) %>">
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.name && errors.name.msg) %>
                                </small>
                            </div>

                            <div class="mb-3">
                                <label for="categoryId" class="form-label">Categoría</label>
                              <select name="categoryId" id="categoryId">
                                <option selected hidden value="">Seleccione...</option>
                                <% categories.forEach(category => { %>
                                    <option value="<%= category.id %>">
                                        <%= category.name %>
                                    </option>
                                <% }) %>
                              </select>
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.categoryId && errors.categoryId.msg) %>
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="phrase" class="form-label">Frase</label>
                                <input type="text" class="form-control <%= locals.errors && (errors.phrase && 'is-invalid') %>" id="phrase" name="phrase" value="<%= locals.old && (old.phrase && old.phrase) %>">
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.phrase && errors.phrase.msg) %>
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="dateFounded" class="form-label">Fecha de Inicio</label>
                                <input type="number" class="form-control <%= locals.errors && (errors.dateFounded && 'is-invalid') %>" id="dateFounded" name="dateFounded" value="<%= locals.old && (old.dateFounded && old.dateFounded) %>">
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.dateFounded && errors.dateFounded.msg) %>
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="dateEnded" class="form-label">Fecha de Finalización</label>
                                <input type="number" class="form-control" id="dateEnded" name="dateEnded" value="<%= locals.old && (old.dateEnded && old.dateEnded) %>">
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.dateEnded && errors.dateEnded.msg) %>
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="vigente" class="form-label">Banda Vigente</label>
                                <input type="checkbox" id="vigente" name="vigente" onclick="toggleFechaFinalizacion()">
                            </div>
                            <div class="mb-3">
                                <label for="totalShows" class="form-label">Total de Conciertos</label>
                                <input type="number" class="form-control <%= locals.errors && (errors.totalShows && 'is-invalid') %>" id="totalShows" name="totalShows" value="<%= locals.old && (old.totalShows && old.totalShows) %>">
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.totalShows && errors.totalShows.msg) %>
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="nextShows" class="form-label">Próximo Concierto</label>
                                <input type="date" class="form-control <%= locals.errors && (errors.nextShows && 'is-invalid') %>" id="nextShows" name="nextShows" value="<%= locals.old && (old.nextShows && old.nextShows) %>">
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.nextShows&& errors.nextShows.msg) %>
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="history" class="form-label">Historia</label>
                                <textarea class="form-control <%= locals.errors && (errors.history && 'is-invalid') %>" id="history" name="history"
                                    rows="3"><%= locals.old && (old.history && old.history) %></textarea>
                                    <small class="ms-2 text-danger">
                                        <%= locals.errors && (errors.history && errors.history.msg) %>
                                    </small>
                            </div>
                            <div class="mb-3">
                                <label for="resume" class="form-label">Resumen</label>
                                <textarea class="form-control <%= locals.errors && (errors.resume && 'is-invalid') %>" id="resume" name="resume" rows="3"><%= locals.old && (old.resume && old.resume) %></textarea>
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.resume && errors.resume.msg) %>
                                </small>
                            </div>
                            <div class="mb-6">
                                <label for="images" class="btn btn-secondary">Portada de la Banda</label>
                                <input hidden type="file" class="form-control" id="images" name="images">
                                <label for="image" class="btn btn-secondary">Logo de la Banda</label>
                                <input hidden type="file" class="form-control" id="image" name="image">
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary" id="enviarForm">Añadir banda</button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>


            <script>
    function validarBanda() {
    var name = document.getElementById('name').value;
    var categoryId = document.getElementById('categoryId').value;
    var phrase = document.getElementById('phrase').value;
    var dateFounded = document.getElementById('dateFounded').value;
    var dateEnded = document.getElementById('dateEnded').value;
    var vigenteCheckbox = document.getElementById('vigente');
    var totalShows = document.getElementById('totalShows').value;
    var nextShows = document.getElementById('nextShows').value;
    var history = document.getElementById('history').value;
    var resume = document.getElementById('resume').value;

    switch (true) {
        case (name === "" || categoryId === "" || phrase === "" || dateFounded === "" || (dateEnded === "" && !vigenteCheckbox.checked) || totalShows === "" || nextShows === "" || history === "" || resume === ""):
            alert("Debes completar todos los campos del formulario.");
            return false;

        case isNaN(dateFounded) || isNaN(dateEnded) || isNaN(totalShows):
            alert("Los campos de fecha de inicio, fecha de finalizacion, y total de conciertos deben ser numeros validos.");
            return false;

        case dateFounded.length !== 4 || dateEnded.length !== 4:
            alert("Los campos de fecha deben tener 4 dígitos.");
            return false;

        case (dateEnded <= dateFounded && !vigenteCheckbox.checked):
            alert("La fecha de finalizacion debe ser posterior a la fecha de inicio.");
            return false;

        case isNaN(nextShows) || new Date(nextShows) < new Date():
            alert("La fecha del proximo concierto debe ser una fecha futura.");
            return false;

        case totalShows < 0:
            alert("El total de conciertos no puede ser negativo.");
            return false;

        default:
            return true;
    }
}

                function toggleFechaFinalizacion() {
                    const fechaFinalizacion = document.getElementById("fechaFinalizacion");
                    const vigenteCheckbox = document.getElementById("vigente");

                    if (vigenteCheckbox.checked) {
                        fechaFinalizacion.disabled = true;
                    } else {
                        fechaFinalizacion.disabled = false;
                    }
                }
            </script>

            <%- include('../partials/footer') %>

    </body>

</html>