<!DOCTYPE html>
<html>

<%- include('../partials/head',{ title : 'ADMIN' }) %>

    <body>
        <%- include('../partials/header') %>

            <main class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <form id="bandForm" action="/products/addBand" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombre de la Banda</label>
                                <input type="text" class="form-control <%= locals.errors && (errors.name && 'is-invalid') %>" id="name" name="name" value="<%= locals.old && (old.name && old.name) %>">
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.name && errors.name.msg) %>
                                </small>
                            </div>

                            <div class="mb-3">
                                <label for="categoryId" class="form-label">Categoría</label>
                              <select name="categoryId" id="categoryId">
                                <option selected hidden value="">Seleccione...</option>
                                <% categories.forEach(category => { %>
                                    <option value="<%= category.id %>">
                                        <%= category.name %>
                                    </option>
                                <% }) %>
                              </select>
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.categoryId && errors.categoryId.msg) %>
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="phrase" class="form-label">Frase</label>
                                <input type="text" class="form-control <%= locals.errors && (errors.phrase && 'is-invalid') %>" id="phrase" name="phrase" value="<%= locals.old && (old.phrase && old.phrase) %>">
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.phrase && errors.phrase.msg) %>
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="dateFounded" class="form-label">Fecha de Inicio</label>
                                <input type="number" class="form-control <%= locals.errors && (errors.dateFounded && 'is-invalid') %>" id="dateFounded" name="dateFounded" value="<%= locals.old && (old.dateFounded && old.dateFounded) %>">
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.dateFounded && errors.dateFounded.msg) %>
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="dateEnded" class="form-label">Fecha de Finalización</label>
                                <input type="number" class="form-control" id="dateEnded" name="dateEnded" value="<%= locals.old && (old.dateEnded && old.dateEnded) %>">
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.dateEnded && errors.dateEnded.msg) %>
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="vigente" class="form-label">Banda Vigente</label>
                                <input type="checkbox" id="vigente" name="vigente" onclick="toggleFechaFinalizacion()">
                            </div>
                            <div class="mb-3">
                                <label for="totalShows" class="form-label">Total de Conciertos</label>
                                <input type="number" class="form-control <%= locals.errors && (errors.totalShows && 'is-invalid') %>" id="totalShows" name="totalShows" value="<%= locals.old && (old.totalShows && old.totalShows) %>">
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.totalShows && errors.totalShows.msg) %>
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="nextShows" class="form-label">Próximo Concierto</label>
                                <input type="date" class="form-control <%= locals.errors && (errors.nextShows && 'is-invalid') %>" id="nextShows" name="nextShows" value="<%= locals.old && (old.nextShows && old.nextShows) %>">
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.nextShows&& errors.nextShows.msg) %>
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="history" class="form-label">Historia</label>
                                <textarea class="form-control <%= locals.errors && (errors.history && 'is-invalid') %>" id="history" name="history"
                                    rows="3"><%= locals.old && (old.history && old.history) %></textarea>
                                    <small class="ms-2 text-danger">
                                        <%= locals.errors && (errors.history && errors.history.msg) %>
                                    </small>
                            </div>
                            <div class="mb-3">
                                <label for="resume" class="form-label">Resumen</label>
                                <textarea class="form-control <%= locals.errors && (errors.resume && 'is-invalid') %>" id="resume" name="resume" rows="3"><%= locals.old && (old.resume && old.resume) %></textarea>
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.resume && errors.resume.msg) %>
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="mainImage" class="btn btn-secondary">Imagen de la Banda</label>
                                <input hidden type="file" class="form-control" id="mainImage" name="mainImage">
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary" id="enviarForm">Añadir banda</button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>


            <script>
                function toggleFechaFinalizacion() {
                    const fechaFinalizacion = document.getElementById("fechaFinalizacion");
                    const vigenteCheckbox = document.getElementById("vigente");

                    if (vigenteCheckbox.checked) {
                        fechaFinalizacion.disabled = true;
                    } else {
                        fechaFinalizacion.disabled = false;
                    }
                }
            </script>

            <%- include('../partials/footer') %>

    </body>

</html>