<!DOCTYPE html>
<html>

<%- include('../partials/head',{ title : 'ADMIN' }) %>

    <body>
        <%- include('../partials/header') %>

            <main class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <form id="albumForm" action="/products/mercheAdd" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombre</label>
                                <input type="text"
                                    class="form-control <%= locals.errors && (errors.name && 'is-invalid') %>" id="name"
                                    name="name" <%= locals.old && (old.name && old.name) %>>
                                    <small class="ms-2 text-danger">
                                        <%= locals.errors && (errors.name && errors.name.msg) %>
                                    </small>
                            </div>
                            <div class="mb-3">
                                <label for="price" class="form-label">Precio</label>
                                <input type="number" step="0.01"
                                    class="form-control <%= locals.errors && (errors.price && 'is-invalid') %>"
                                    id="price" name="price" <%= locals.old && (old.price && old.price) %>>
                                    <small class="ms-2 text-danger">
                                        <%= locals.errors && (errors.price && errors.price.msg) %>
                                    </small>
                            </div>
                            <div class="mb-3">
                                <label for="discount" class="form-label">Descuento (%)</label>
                                <input type="number" step="0.01"
                                    class="form-control <%= locals.errors && (errors.discount && 'is-invalid') %>"
                                    id="discount" name="discount" <%= locals.old && (old.discount && old.discount) %>>
                                    <small class="ms-2 text-danger">
                                        <%= locals.errors && (errors.discount && errors.discount.msg) %>
                                    </small>
                            </div>
                            <div class="mb-3">
                                <label for="bandId" class="form-label">Banda</label>
                                <select class="form-select <%= locals.errors && (errors.bandId && 'is-invalid') %>"
                                    id="bandId" name="bandId">
                                    <option selected hidden value="">Seleccione...</option>
                                    <% bands.forEach(band=> { %>
                                        <option value="<%= band.id %>">
                                            <%= band.name %>
                                        </option>
                                        <% }) %>
                                </select>
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.bandId && errors.bandId.msg) %>
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="typeId" class="form-label">Tipo</label>
                                <select class="form-select <%= locals.errors && (errors.typeId && 'is-invalid') %>"
                                    id="typeId" name="typeId">
                                    <option selected hidden value="">Seleccione...</option>
                                    <% types.forEach(type=> { %>
                                        <option value="<%= type.id %>">
                                            <%= type.name %>
                                        </option>
                                        <% }) %>
                                </select>
                                <small class="ms-2 text-danger">
                                    <%= locals.errors && (errors.typeId && errors.typeId.msg) %>
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="exclusive" class="form-label">Exclusivo</label>
                                <input type="checkbox" id="exclusive" name="exclusive">
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Descripción</label>
                                <textarea
                                    class="form-control <%= locals.errors && (errors.description && 'is-invalid') %>"
                                    id="description" name="description" rows="3"><%= locals.old && (old.description && old.description) %></textarea>
                                    <small class="ms-2 text-danger">
                                        <%= locals.errors && (errors.description && errors.description.msg) %>
                                    </small>
                            </div>
                            <div class="mb-3">
                                <label for="image" class="btn btn-secondary">Imagen del Álbum</label>
                                <input hidden type="file"
                                    class="form-control <%= locals.errors && (errors.image && 'is-invalid') %>"
                                    id="image" name="image">
                                    <small class="ms-2 text-danger">
                                        <%= locals.errors && (errors.image && errors.image.msg) %>
                                    </small>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary" id="enviarForm">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>




            <%- include('../partials/footer') %>

    </body>

</html>