<!DOCTYPE html>
<html>

<%- include('../partials/head',{ title : 'ADMIN' }) %>

    <body class="home__body">
        <%- include('../partials/header') %>



        <main class="container">
            <div class="row mt-5">
                <h2 class="text-center">Bienvenido al panel de administración</h2>
        
                <div class="col-12 col-md-10 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Bandas</button>
                                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Álbums</button>
                                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                                    type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Merchandising</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="nav-tabContent">
                                <!-- BANDS -->
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                                    <div class="btn btn-dark"><a class="text-white" href="/products/addBand">Agregar</a></div>
                                    <div class="table-responsive">
                                        <table class="table table-striped-columns">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col">Categoría</th>
                                                    <th scope="col">Cantidad de Álbums</th>
                                                    <th scope="col">Total Shows</th>
                                                    <th scope="col">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% bands.forEach(({id, name, mainImage, totalShows, resume, categoryId},index)=> { %>
                                                    <tr>
                                                        <th scope="row"><%= index + 1 %></th>
                                                        <td><%= name %></td>
                                                        <td><%= categoryId===1 ? "Ícono del rock" :
                                                            categoryId===2 ? "Orgullo nacional" :
                                                            categoryId===3 ? "Indie" : categoryId===4 ? "Clásico" : categoryId %></td>
                                                        <td>Cantidad albums</td>
                                                        <td><%= totalShows %></td>
                                                        <td>
                                                            <div class="row gap-2">
                                                                <button type="button" class="col-3 btn btn-sm  btn-primary"
                                                                    data-bs-toggle="modal" data-bs-target="#modalDetail<%= id %>">
                                                                    <i class="fas fa-eye"></i>
                                                                </button>
                                                                <%- include('../partials/modalBandDetail',{ id, name, resume, mainImage })%>
                                                                <a href="/products/edit/band/<%= id %>" class="col-3 btn btn-sm btn-success">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                                <button type="button" class="col-3 btn btn-sm btn-danger"
                                                                    data-bs-toggle="modal" data-bs-target="#modalDelete<%=id%>">
                                                                    <i class="fas fa-trash"></i>
                                                                </button>
                                                                <div class="modal fade" id="modalDelete<%=id%>" tabindex="-1"
                                                                    aria-labelledby="modalDeleteLabel" aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="modalDeleteLabel">Advertencia</h5>
                                                                                <button type="button" class="btn-close"
                                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <p>¿Estás seguro que querés eliminar <b><%= name %></b>?</p>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary"
                                                                                    data-bs-dismiss="modal">Cancelar</button>
                                                                                <form action="/products/bands/remove/<%=id%>?_method=DELETE" method="POST">
                                                                                    <button type="submit" class="btn btn-danger">Eliminalo</button>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- ALBUMS -->
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                                    <div class="btn btn-dark"><a class="text-white" href="/products/albumAdd">Agregar</a></div>
                                    <div class="table-responsive">
                                        <table class="table table-striped-columns">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Título</th>
                                                    <th scope="col">Género</th>
                                                    <th scope="col">Año</th>
                                                    <th scope="col">Precio</th>
                                                    <th scope="col">Descuento</th>
                                                    <th scope="col">Exclusivo</th>
                                                    <th scope="col">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% albums.forEach(({id, title, image, genreId, year, price, discount, exclusive},index)=> { %>
                                                    <tr>
                                                        <th scope="row"><%= index + 1 %></th>
                                                        <td><%= title %></td>
                                                        <td><%= genreId===1 ? "Rock" : genreId===2 ? "Pop" :
                                                            genreId===3 ? "Indie" : genreId===4 ? "Metal" : genreId %></td>
                                                        <td><%= year %></td>
                                                        <td><%= price %></td>
                                                        <td><%= discount ? discount : 0 %></td>
                                                        <td><%= exclusive===0 ? "No" : "Sí" %></td>
                                                        <td>
                                                            <div class="row gap-2">
                                                                <button type="button" class="col-3 btn btn-sm  btn-primary"
                                                                    data-bs-toggle="modal" data-bs-target="#modalAlbumDetail<%= id %>">
                                                                    <i class="fas fa-eye"></i>
                                                                </button>
                                                                <%- include('../partials/modalAlbumDetail',{ id, title, price, image })%>
                                                                <a href="/products/edit/album/<%= id %>" class="col-3 btn btn-sm btn-success">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                                <button type="button" class="col-3 btn btn-sm btn-danger"
                                                                    data-bs-toggle="modal" data-bs-target="#modalAlbumDelete<%=id%>">
                                                                    <i class="fas fa-trash"></i>
                                                                </button>
                                                                <div class="modal fade" id="modalAlbumDelete<%=id%>" tabindex="-1"
                                                                    aria-labelledby="modalAlbumDeleteLabel" aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="modalAlbumDeleteLabel">Advertencia</h5>
                                                                                <button type="button" class="btn-close"
                                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <p>¿Estás seguro que querés eliminar <b><%= title %></b>?</p>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary"
                                                                                    data-bs-dismiss="modal">Cancelar</button>
                                                                                <form action="/products/albums/remove/<%=id%>?_method=DELETE" method="POST">
                                                                                    <button type="submit" class="btn btn-danger">Eliminalo</button>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- MERCHS -->
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                                    <div class="btn btn-dark"><a class="text-white" href="/products/mercheAdd">Agregar</a></div>
                                    <div class="table-responsive">
                                        <table class="table table-striped-columns">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Producto</th>
                                                    <th scope="col">Tipo</th>
                                                    <th scope="col">Precio</th>
                                                    <th scope="col">Descuento</th>
                                                    <th scope="col">Exclusivo</th>
                                                    <th scope="col">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% merchs.forEach(({id, name, image, price, discount, exclusive, typeId},index)=> { %>
                                                    <tr>
                                                        <th scope="row"><%= index + 1 %></th>
                                                        <td><%= name %></td>
                                                        <td><%= typeId===1 ? "Remera" : typeId===2 ? "Campera" :
                                                            typeId===3 ? "Poster" : typeId===4 ? "Taza" : typeId===5 ? "Mochila" :
                                                            typeId===6 ? "Sticker" : typeId===7 ? "Hoodie" : typeId===8 ? "Emblema" :
                                                            typeId===9 ? "Púa" : typeId===10 ? "Merchandising General" : 
                                                            typeId===11 ? "Indumentaria General" : typeId===12 ? "Capsula del tiempo" : typeId %>
                                                        </td>
                                                        <td><%= price %></td>
                                                        <td><%= discount ? discount : 0 %></td>
                                                        <td><%= exclusive===0 ? "No" : "Sí" %></td>
                                                        <td>
                                                            <div class="row gap-2">
                                                                <button type="button" class="col-3 btn btn-sm  btn-primary"
                                                                    data-bs-toggle="modal" data-bs-target="#modalMerchDetail<%= id %>">
                                                                    <i class="fas fa-eye"></i>
                                                                </button>
                                                                <%- include('../partials/modalMerchDetail',{ id, name, price, image })%>
                                                                <a href="/products/edit/merch/<%= id %>" class="col-3 btn btn-sm btn-success">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                                <button type="button" class="col-3 btn btn-sm btn-danger"
                                                                    data-bs-toggle="modal" data-bs-target="#modalMerchDelete<%=id%>">
                                                                    <i class="fas fa-trash"></i>
                                                                </button>
                                                                <div class="modal fade" id="modalMerchDelete<%=id%>" tabindex="-1"
                                                                    aria-labelledby="modalMerchDeleteLabel" aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="modalMerchDeleteLabel">Advertencia</h5>
                                                                                <button type="button" class="btn-close"
                                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <p>¿Estás seguro que querés eliminar <b><%= name %></b>?</p>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary"
                                                                                    data-bs-dismiss="modal">Cancelar</button>
                                                                                <form action="/products/merchs/remove/<%=id%>?_method=DELETE" method="POST">
                                                                                    <button type="submit" class="btn btn-danger">Eliminalo</button>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

            <%- include('../partials/footer') %>


                <%- include('../partials/adminSearchScript') %>






    </body>

</html>