<!DOCTYPE html>
<html>

<%- include('../partials/head',{ title : 'ADMIN' }) %>

    <body>
        <%- include('../partials/header') %>

            <main class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <form id="albumForm" action="/products/edit/album/<%= album.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="title" class="form-label">Título del Álbum</label>
                                <input type="text" class="form-control <%= locals.errors && (errors.title && 'is-invalid') %>" id="title" name="title" value="<%= album.title %>">
                                <small class="ms-2 text-danger"><%= locals.errors && (errors.title && errors.title.msg) %></small>
                            </div>
                        
                            <div class="mb-3">
                                <label for="discography" class="form-label">Discográfica</label>
                                <input type="text" class="form-control <%= locals.errors && (errors.discography && 'is-invalid') %>" id="discography" name="discography" value="<%= album.discography %>">
                                <small class="ms-2 text-danger"><%= locals.errors && (errors.discography && errors.discography.msg) %></small>

                            </div>
                        
                            <div class="mb-3">
                                <label for="year" class="form-label">Año de Publicación</label>
                                <input type="number" class="form-control <%= locals.errors && (errors.year && 'is-invalid') %>" id="year" name="year" value="<%= album.year %>">
                                <small class="ms-2 text-danger"><%= locals.errors && (errors.year && errors.year.msg) %></small>

                            </div>
                        
                            <div class="mb-3">
                                <label for="price" class="form-label">Precio</label>
                                <input type="number" step="0.01" class="form-control <%= locals.errors && (errors.price && 'is-invalid') %>" id="price" name="price" value="<%= album.price %>">
                                <small class="ms-2 text-danger"><%= locals.errors && (errors.price && errors.price.msg) %></small>

                            </div>
                        
                            <div class="mb-3">
                                <label for="discount" class="form-label">Descuento (%)</label>
                                <input type="number" step="0.01" class="form-control <%= locals.errors && (errors.discount && 'is-invalid') %>" id="discount" name="discount" value="<%= album.discount ? album.discount : 0 %>">
                                <small class="ms-2 text-danger"><%= locals.errors && (errors.discount && errors.discount.msg) %></small>

                            </div>
                        
                            <div class="mb-3">
                                <label for="bandId" class="form-label">Banda</label>
                                <select class="form-select" id="bandId" name="bandId">
                                    <% bands.forEach(band => { %>
                                        <option <%= band.id === album.bandId ? 'selected' : '' %> value="<%= band.id %>"><%= band.name %></option>

                                    <% }) %>
                                   
                                </select>
                            </div>
                        
                            <div class="mb-3">
                                <label for="genreId" class="form-label">Género</label>
                                <select class="form-select" id="genreId" name="genreId">
                                    <% genres.forEach(genre => { %>
                                        <option <%= genre.id === album.genreId ? 'selected' : '' %> value="<%= genre.id %>"><%= genre.name %></option>
                                    <% }) %>
                                   
                                </select>
                            </div>
                        
                            <div class="mb-3">
                                <label for="exclusive" class="form-label">Exclusive</label>
                                <input type="checkbox" id="exclusive" name="exclusive" <%= album.exclusive === 1 ? 'checked' : '' %>>
                            </div>
                        
                            <div class="mb-3">
                                <label for="description" class="form-label">Descripción</label>
                                <textarea class="form-control <%= locals.errors && (errors.description && 'is-invalid') %>" id="description" name="description" rows="3"><%= album.description %></textarea>
                                <small class="ms-2 text-danger"><%= locals.errors && (errors.description && errors.description.msg) %></small>

                            </div>
                        
                            <div class="mb-3">
                                <label for="image" class="btn btn-secondary">Imagen del Álbum</label>
                                <input hidden type="file" class="form-control" id="image" name="image">
                            </div>
                        
                            <div class="mb-3">
                                <button type="submit" class="btn btn-success" id="enviarForm">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>



            <%- include('../partials/footer') %>

    </body>

</html>