<!DOCTYPE html>
<html>

<%- include('../partials/head',{ title : 'ADMIN' }) %>

    <body>
        <%- include('../partials/header') %>

            <main class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <form id="bandForm" action="/products/edit/band/<%= band.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombre de la Banda</label>
                                <input type="text" class="form-control" id="name" name="name" value="<%= band.name %>">
                            </div>

                            <div class="mb-3">
                                <label for="category" class="form-label">Categoría</label>
                                <select class="form-select" aria-label="Default select example" name="categoryId" id="category">
                                    <% categories.forEach(category => { %>
                                     <option <%= category.id === band.categoryId ? 'selected' : '' %> value="<%= category.id %>"><%= category.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="phrase" class="form-label">Frase</label>
                                <input type="text" class="form-control" id="phrase" name="phrase" value="<%= band.phrase %>">
                            </div>
                            <div class="mb-3">
                                <label for="dateFounded" class="form-label">Año de fundación</label>
                                <input type="number" class="form-control" id="dateFounded" name="dateFounded" value="<%= band.dateFounded %>">
                            </div>
                            <div class="mb-3">
                                <label for="dateEnded" class="form-label">Año de finalización</label>
                                <input type="number" class="form-control" id="dateEnded" name="dateEnded" value="<%= band.dateEnded ? band.dateEnded : '' %>">
                            </div>
                            <div class="mb-3">
                                <label for="vigente" class="form-label">Banda Vigente</label>
                                <input type="checkbox" id="vigente" name="vigente" <% if (!band.dateEnded) { %>checked<% } %> onclick="toggleFechaFinalizacion()">
                            </div>
                            <div class="mb-3">
                                <label for="conciertos" class="form-label">Total de Conciertos</label>
                                <input type="number" class="form-control" id="conciertos" name="totalShows" value="<%= band.totalShows %>">
                            </div>
                            <div class="mb-3">
                                <label for="proximoConcierto" class="form-label">Próximo Concierto</label>
                                <input type="date" class="form-control" id="proximoConcierto" name="proximoConcierto" value="<%= band.nextShows %>">
                            </div>
                            <div class="mb-3">
                                <label for="historiaBanda" class="form-label">Historia</label>
                                <textarea class="form-control" id="historiaBanda" name="historiaBanda"
                                    rows="3"><%= band.history %></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="resumen" class="form-label">Resumen</label>
                                <textarea class="form-control" id="resumen" name="resumen" rows="3"><%= band.resume %>
                                </textarea>
                            </div>
                            <div class="mb-6">
                                <label for="image" class="btn btn-secondary">Cambiar imagen de la Banda</label>
                                <input hidden type="file" class="form-control" id="image" name="image">
                                <label for="mainImage" class="btn btn-secondary">Cambiar Logo de la Banda</label>
                                <input hidden type="file" class="form-control" id="mainImage" name="mainImage">
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-success">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>


            <script>
                function toggleFechaFinalizacion() {
                    const fechaFinalizacion = document.getElementById("fechaFinalizacion");
                    const vigenteCheckbox = document.getElementById("vigente");

                    if (vigenteCheckbox.checked) {
                        fechaFinalizacion.disabled = true;
                    } else {
                        fechaFinalizacion.disabled = false;
                    }
                }
            </script>
         

            <%- include('../partials/footer') %>

    </body>

</html>