<!DOCTYPE html>
<html>

<%- include('../partials/head',{ title : 'PERFIL DE USUARIO' }) %>

    <body class="home__body">
        <%- include('../partials/header') %>



            <main class="form__main">

        
                <div class="form__title">
                    <h1>Mis Datos</h1>
                </div>
                <div class="form__container">


                    <form class="form__box" action="/users/update/<%= id %>?_method=PUT" method="POST" enctype="multipart/form-data">


                       
                        <div class="form__box__field">
                            <label for="firstName" class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="firstName" id="firstName"
                                value="<%= locals.old && (old.firstName&& old.firstName) %>">
                            <div class="invalid-feedback">
                                <%= locals.errors && (errors.firstName && errors.firstName.msg) %>
                            </div>
                            <div class="valid-feedback">
                                Se ve bien!
                            </div>
                        </div>

                        <div class="form__box__field">
                            <label for="lastName" class="form-label">Apellido</label>
                            <input type="text" class="form-control" name="lastName" id="lastName"
                                value="<%= locals.old && (old.lastName&& old.lastName) %>">
                            <div class="invalid-feedback">
                                <%= locals.errors && (errors.lastName && errors.lastName.msg) %>
                            </div>
                            <div class="valid-feedback">
                                Se ve bien!
                            </div>
                        </div>
                      
                        <div class="form__box__field-email">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" name="email" id="email"
                                value="<%= locals.old && (old.email&& old.email) %>">
                            <div class="invalid-feedback">
                                <%= locals.errors && (errors.email && errors.email.msg) %>
                            </div>
                            <div class="valid-feedback">
                                Se ve bien!
                            </div>
                        </div>
                        
                        <div class="form__box__field">
                            <label for="shipping" class="form-label">Lugar de envio</label>
                            <input type="text" class="form-control" name="shipping" id="shipping"
                                value="<%= locals.old && (old.shipping&& old.shipping) %>">
                            <div class="invalid-feedback">
                                <%= locals.errors && (errors.shipping && errors.shipping.msg) %>
                            </div>
                            <div class="valid-feedback">
                                Se ve bien!
                            </div>
                        </div>


                        <div class="form__box__field">
                            <label for="phone" class="form-label">Telefono</label>
                            <input type="text" class="form-control" name="phone" id="phone"
                                value="<%= locals.old && (old.phone&& old.phone) %>">
                            <div class="invalid-feedback">
                                <%= locals.errors && (errors.phone && errors.phone.msg) %>
                            </div>
                            <div class="valid-feedback">
                                Se ve bien!
                            </div>
                        </div>
                       

                        <div class="form__box__field">
                            <label class="btn btn-dark" for="mainImage">Modificar Imagen  </label>
                            <input hidden class="form-control" type="file" id="mainImage" name="mainImage">
                            <div class="invalid-feedback">
                                <%= locals.errors && (errors.mainImage && errors.mainImage.msg) %>
                            </div>
                            <div class="valid-feedback">
                                Se ve bien!
                            </div>
    
                        </div>
                       
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <img src="/images/users/<%= mainImage %>" class="img-fluid" alt="">
                            </div>
                           
                        </div> 


                        <div class="form__box__field-email">
                            
                                <div class="col-md-12">
                                    <a style= color:blue href="/users/cart">Mis Compras</a>
                                </div>
                        
                            
                        </div>

                        <button class="form__button-submit" type="submit">Modifica tus Datos</button>
                    </form>

                    
                </div>



                <div class="form__p">
                    <a href="/">Volvé al Home</a></p>
                </div>
                


        





            </main>



            
            <script>
                function validateField(fieldId, error, validator) {
                    var fieldValue = $(fieldId).val();
                    if (error) {
                        $(fieldId).addClass('is-invalid');
                    } else if (validator(fieldValue)) {
                        $(fieldId).addClass('is-valid');
                    }
                }

                function isValidInput(value) {
                    return value.trim() !== '';
                }

                var firstNameError = '<%= locals.errors && locals.errors.firstName ? locals.errors.firstName.msg : "" %>';
                validateField('#firstName', firstNameError, isValidInput);

                var lastNameError = '<%= locals.errors && locals.errors.lastName? locals.errors.lastName.msg : "" %>';
                validateField('#lastName', lastNameError, isValidInput);

                var emailError = '<%= locals.errors && locals.errors.email ? locals.errors.email.msg : "" %>';
                validateField('#email', emailError, isValidInput);

                var shippingError = '<%= locals.errors && locals.errors.shipping ? locals.errors.shipping.msg : "" %>';
                validateField('#shipping', shippingError, isValidInput);

                var phoneError = '<%= locals.errors && locals.errors.phone ? locals.errors.phone.msg : "" %>';
                validateField('#phone', phoneError, isValidInput);
               
                var mainImageError = '<%= locals.errors && locals.errors.mainImage ? locals.errors.mainImage.msg : "" %>';
                validateField('#mainImage', mainImageError, isValidInput);
               

            </script>

            <%- include('../partials/footer') %>
    </body>

</html>